<h2>My Accounts</h2>
<ul class="accounts">
  <li *ngFor="let account of accounts">
    
      <span class="badge">{{account.id}}</span>
      <span class="name">{{account.name}}</span>
    
  </li>
</ul>

<div *ngIf="selectedAccount">
  <h2>{{selectedAccount.name | uppercase}} Details</h2>
  <div>id: {{selectedAccount.id}}</div>
  <div>
    <label for="account-name">Account name: </label>
    <input id="account-name" [(ngModel)]="selectedAccount.name" placeholder="name">
  </div>
  <div>Nickname: {{selectedAccount.nickname}}</div>
  <div>Logindate: {{selectedAccount.logindate}}</div>
</div>