<h2>My Accounts</h2>
{{accounts[0].content[0].id}}

<ul class="accounts">
  <li *ngFor="let account of accounts[0].content, let x=index">
    <a routerLink="/detail/{{account.id}}">
     
      
        <span class="badge">ID: {{account.id}}</span> Name: {{account.name}}, NickName: {{account.nickname}}, Logindate: {{account.logindate}}
      
    </a>
  </li>




<div *ngIf="selectedAccount">
  <h2>{{selectedAccount.name | uppercase}} Details</h2>
  <div>id: {{selectedAccount.id}}</div>
  <div>
    <label for="account-name">Account name: </label>
    <input id="account-name" [(ngModel)]="selectedAccount.name" placeholder="name">
  </div>
  <div>Nickname: {{selectedAccount.nickname}}</div>
  <div>Logindate: {{selectedAccount.logindate}}</div>
</div>




