<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">


        <h2>My Accounts</h2>
        Die Account-ID vom ersten Datensatz lautet: {{accounts[0].content[0].id}}
        <ul class="accounts">
          <li *ngFor="let account of accounts[0].content">
            <a routerLink="/detail/{{account.id}}">
              <span class="badge">ID: {{account.id}}</span> Name: {{account.name}}, NickName: {{account.nickname}},
              Logindate: {{account.logindate}}
            </a>
            <button type="button" class="delete" title="delete account" (click)="delete(account)">x</button>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>