<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center" *ngIf="account">
  
          <h2>The Game</h2>
          <h3> Rules:</h3>
          <p>Dear {{account.name}}. You are King Hammurabi.</p>
          Your Kingdom has a population of ....
          
  
          dfadfadfadsfadfa
          adsfasdfasd
          adsfasdfasdadsf
          afadsf
  
        </div>
      </div>
    </div>
  </header>
